@using Website.Domain.Home.Models.Archetypes
@model Website.Domain.Home.ViewModels.HomeViewModel
@{
    var testimonials = (Model.Content.Testimonials ?? new List<Testimonial>()).Where(i => !i.Disabled);
}

<section id="home-parallax" class="parallax" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <h2 class="wow animated fadeInDown"><span class="colored-text">Hello!</span></h2>
        <p class="lead animated fadeIn">
            @ViewBag.MetaDescription
        </p>
    </div>
</section>

<!--things im good at-->
<section class="services-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>Things i do</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div>
        <!--center heading row-->
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box animated fadeInUp">
                    <div class="services-box-icon">
                        <img src="/content/img/services/dotnet.jpg" alt="MS .Net" class="img-responsive" />
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>.Net</h4>
                        <p>
                            .Net, with C# in particular is my bread and butter. With an indepth understanding of how code is executed by the CLR,
                            it allows me to write extremely efficient, performant, easy to read code which always meets the requirements and
                            expectations of my clients.

                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>
            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box animated fadeInUp">
                    <div class="services-box-icon">
                        <img src="/content/img/services/web.jpg" alt="MS .Net" class="img-responsive" />
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Web Development</h4>
                        <p>
                            Web development is not only my job, but my hobby too. I enjoy learning about all aspects of it, not only regarding web development,
                            but also in web standards and security. I feel before you can be a good web developer you have to understand how the web works.
                        </p>

                    </div>
                </div>
                <!--services box-->
            </div>
            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box animated fadeInUp">
                    <div class="services-box-icon">
                        <img src="/content/img/services/umbraco.jpg" alt="MS .Net" class="img-responsive" />
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Umbraco CMS</h4>
                        <p>
                            Umbraco has been my default response when a project requires a CMS for a long time. Having tried many others, clients 
                            feedback when given an umbraco based CMS makes this my go to option every time. I am yet to find a requirement where 
                            Umbraco cannot be extended to fulfill.
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>
            <!--services col-->
        </div>
        <!--services row-->
    </div>
</section>

@if (Model.Work != null && Model.Work.Any())
{
    <!--recent work-->
    <div class="divide40"></div>
    <section class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>Things i've done recently</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="work-carousel" class="owl-carousel owl-spaced">
                        @foreach (var work in Model.Work)
                        {
                            <div>
                                <div class="item-img-wrap ">
                                    @Html.FluidImage(work.BlogImage, 370, 247)
                                    <div class="item-img-overlay">
                                        <a href="@work.Url" class="show-image">
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                                <!--item img wrap-->
                                <div class="work-desc">
                                    <h3><a href="@work.Url">@work.WorkTitle</a></h3>
                                    <span>@work.WorkClient</span>
                                </div>
                                <!--work desc-->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="divide30"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/blog/?c=work" class="btn border-theme btn-lg wow animated fadeInUp"><i class="fa fa-bars"></i>More of my work</a>
                </div>
            </div>
        </div>
        <!--container-->
    </section>
    <!--recent work-->
}

@if (testimonials.Any())
{
    <!--testimonials-->
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>Feedback</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div id="testi-carousel" class="owl-carousel owl-spaced">
                        @foreach (var testimonial in testimonials)
                        {
                            <div>
                                @Html.FluidImage(testimonial.Image, 100, 100, htmlAttributes: new { @class = "img-responsive customer-img"})
                                <h4>
                                    <i class="fa fa-quote-left"></i>&nbsp;@testimonial.Quote&nbsp;<i class="fa fa-quote-right"></i>
                                </h4>
                                <p>-@testimonial.Person</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--testimonials-->
}

@if (Model.Blogs != null && Model.Blogs.Any())
{
    <!--blog-->
    <div class="divide80"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin40">
                <div class="center-heading">
                    <h2>Things I've written</h2>
                    <span class="center-line"></span>
                </div>
                <div id="news-carousel" class="owl-carousel owl-spaced">
                    @foreach (var blog in Model.Blogs)
                    {
                        <div>
                            <a href="@blog.Url">
                                <div class="item-img-wrap">
                                    @Html.FluidImage(blog.BlogImage, 500, 300)
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                            <!--news link-->
                            <div class="news-desc">
                                <span>@blog.BlogCategory</span>
                                <h4><a href="@blog.Url">@blog.BlogTitle</a></h4>
                                <span>@Html.ToDate(blog.BlogPublishDate)</span> <span><a href="@blog.Url">Read more...</a></span>
                            </div>
                            <!--news desc-->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--blog-->
}