@using Website.Domain.Shared.Archetypes
@{
    Layout = null;

    var email = "mailto:" + DomainApp.Settings.CompanyEmail + "?subject=Hello!";
    var url = Request.RawUrl.ToLower();

    var nav = (DomainApp.Settings.NavItems ?? new List<UrlPicker>()).Where(i => !i.Disabled).ToList();
    var tweets = DomainApp.Settings.Tweets;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Pagetitle</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <link rel="canonical" href="@ViewBag.Canonical" />
    @Html.Partial("Og")
    @RenderSection("Meta", false)
    @Styles.Render("~/bundles/css")
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>-->
    <!--@Scripts.Render("~/bundles/js/style")-->
    <!--[endif]-->
</head>
<body class="@ViewBag.BodyClass">
    <!-- @System.Environment.MachineName -->
    @RenderSection("Body", false)
    <div id="header-top" class="hidden-xs">
        <div class="container">
            <div class="top-bar">
                @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyEmail))
                {
                    <div class="pull-left">
                        <a href="@email"><i class="fa fa-envelope"></i>@DomainApp.Settings.CompanyEmail</a>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyTelephone))
                {
                    <div class="pull-left">
                        <a href="tel:@DomainApp.Settings.CompanyTelephone"><i class="fa fa-phone"></i><span>@DomainApp.Settings.CompanyTelephone</span></a>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanySkype))
                {
                    <div class="pull-left">
                        <a href="skype:@DomainApp.Settings.CompanySkype"><i class="fa fa-skype"></i>@DomainApp.Settings.CompanySkype</a>
                    </div>
                }
                <div class="pull-right">
                    <ul class="list-inline top-social">
                        @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyFacebook))
                        {
                            <li><a target="_blank" href="https://www.facebook.com/mick.r.law"><i class="fa fa-facebook"></i></a></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyTwitter))
                        {
                            <li><a target="_blank" href="https://twitter.com/milaw"><i class="fa fa-twitter"></i></a></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyLinkedIn))
                        {
                            <li><a target="_blank" href="https://uk.linkedin.com/in/milaw"><i class="fa fa-linkedin"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    @if (DomainApp.Settings.CompanyLogo == null)
                    {
                        <a class="navbar-brand" href="/">@DomainApp.Settings.CompanyName</a>
                    }
                    else
                    {
                        <img src="@DomainApp.Settings.CompanyLogo.GetCrop(250, 80)" alt="@DomainApp.Settings.CompanyName" />
                    }
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (nav.Any())
                    {
                        var current = url.Split('?')[0].ToLower();
                        var isNotHomepage = (!current.Equals("/") && !current.StartsWith("/?"));

                        foreach (var item in nav)
                        {
                            var linkUrl = Html.Url(item);

                            <li @Html.Attr("class", isNotHomepage && current.StartsWith(linkUrl), "active")>
                                <a href="@linkUrl" @Html.NewWindow(item)>@item.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    @if (tweets.Any())
    {
        var random = tweets.AsRandom().First();
        <!--tweets-->
        <section class="tweets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading">
                            <h2>Twitter</h2>
                            <span class="center-line"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p>@Html.Raw(random.TextAsHtml)</p>
                    </div>
                </div>
            </div>
        </section>
        <!--tweets-->
    }
    <footer id="footer">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-6 margin30">
                    <div class="footer-col">
                        <h3>Social</h3>
                        <ul class="list-inline social-1">
                            @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyTwitter))
                            {
                                <li><a target="_blank" href="@DomainApp.Settings.CompanyTwitter"><i class="fa fa-twitter"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyLinkedIn))
                            {
                                <li><a target="_blank" href="@DomainApp.Settings.CompanyLinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyEmail))
                            {
                                <li><a href="@email"><i class="fa fa-envelope"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanyTelephone))
                            {
                                <li><a href="tel:@DomainApp.Settings.CompanyTelephone"><i class="fa fa-phone"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(DomainApp.Settings.CompanySkype))
                            {
                                <li><a href="skype:@DomainApp.Settings.CompanySkype"><i class="fa fa-skype"></i></a></li>
                            }
                            @if (DomainApp.Nodes.Contact != null)
                            {
                                <li>or <a href="@DomainApp.Nodes.Contact.Url">@DomainApp.Nodes.Contact.ContactTitle</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!--footer col-->
                <div class="col-md-push-6 col-md-3 col-sm-6 margin30">
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", false)
    @RenderSection("Tags", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@DomainApp.Settings.GoogleAnalytics', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
