@model Website.Domain.Blog.ViewModels.BlogDetailsViewModel
@{
    var publishDate = Model.Content.BlogPublishDate;
    var image = Model.Content.BlogImage;
}
<div class="blog-post">
    <div data-video-wrapper>
        @if (!string.IsNullOrWhiteSpace(Model.Content.BlogVideo))
        {
            @Html.Raw(Model.Content.BlogVideo)
        }
        else
        {
            if (image != null && image.HasUrl)
            {
                @Html.FluidImage(image, 800, 400)
            }
        }
    </div>
    <ul class="list-inline post-detail">
        <li><i class="fa fa-calendar"></i>@Html.ToDate(publishDate)</li>
        <li><i class="fa fa-tag"></i><a href="@Urls.Blog?c=@Model.Content.BlogCategory">@Model.Content.BlogCategory</a></li>
        @if (!string.IsNullOrWhiteSpace(Model.Content.WorkClient))
        {
            <li><i class="fa fa-group"></i>@Model.Content.WorkClient</li>
        }
    </ul>
    <h2>@(!string.IsNullOrWhiteSpace(Model.Content.WorkTitle) ? Model.Content.WorkTitle : Model.Content.BlogTitle)</h2>
    @if (!string.IsNullOrWhiteSpace(Model.Content.WorkClientSiteUrl))
    {
        <p><i class="fa fa-globe"></i>&nbsp;<a href="@Model.Content.WorkClientSiteUrl" target="_blank" title="Visit the website.">@Model.Content.WorkClientSiteUrl</a></p>
    }
    @if (Model.Content.Tags.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="tag-list">
                    @foreach (var tag in Model.Content.Tags)
                    {
                        <a href="javascript:void(0);">@tag</a>
                    }
                </div>
            </div>
        </div>
        <div class="divide20"></div>
    }
    @Html.Raw(Model.Content.BlogDescription)
</div>

@if (Model.Content.WorkSlideshow != null && Model.Content.WorkSlideshow.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                @foreach (var slide in Model.Content.WorkSlideshow)
                {
                    <div class="mix col-sm-3 page1 page4 margin30">
                        <div class="item-img-wrap ">
                            @Html.FluidImage(slide, 300, 300)
                            <div class="item-img-overlay">
                                <a href="@slide.Url" class="show-image">
                                    <span></span>
                                </a>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <!--#grid-->
        </div>
    </div>
}

@if (!Model.Content.DisableComments)
{
    <!--about author-->
    <div class="comment-post">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'michaellaw'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
    <!--comments-->
}
