@using Website.Domain.Blog.DocTypes
@using Yomego.CMS.Core.Collections
@model Website.Domain.Blog.ViewModels.BlogViewModel
@{
    var blogs = Model.Blogs ?? new PagedList<BlogDetails>();
}

@foreach (var blog in blogs)
{
    var url = blog.Url + "#disqus_thread";
    
    <div class="blog-post">
        <a href="@url">
            <div class="item-img-wrap" data-video-wrapper>
                @if (blog.BlogImage != null && blog.BlogImage.HasUrl)
                {
                    @Html.FluidImage(blog.BlogImage, 800, 400)
                    <div class="item-img-overlay">
                        <span></span>
                    </div>
                }
                else
                {
                    @Html.Raw(blog.BlogVideo)
                }
            </div>
        </a>
        <!--work link-->
        <ul class="list-inline post-detail">
            <li><i class="fa fa-calendar"></i>@Html.ToDate(blog.BlogPublishDate)</li>
            <li><i class="fa fa-tag"></i><a href="/blog?c=@blog.BlogCategory">@blog.BlogCategory</a></li>
        </ul>
        <h2><a href="@url">@blog.BlogTitle</a></h2>
        <p>
            @blog.BlogSummary
        </p>
        <p><a href="@url" class="btn btn-theme-dark">Read More...</a></p>
    </div>
}

@Html.RenderPager(blogs)

@*<ul class="pager">
    <li class="previous"><a href="#">&larr; Previous Page</a></li>
    <li class="next"><a href="#">Next Page &rarr;</a></li>
</ul>*@

